@font-face {
  font-display: auto;
  font-family: "{{ font.name }}";
  font-style: normal;
  font-weight: normal;
  src:
  {%- for format in formats -%}
    url("{{ font.name }}.{{ format.ext }}?v={{ font.version.string|urlencode }}") format("{{ format.name }}"){% if not loop.last %},{% endif %}
  {%- endfor -%}
}

{% for icon in icons -%}
.{{ classPrefix }}{{ icon.id }}::before{% if not loop.last %}, {% endif %}
{% endfor %} {
  display: inline-block;
  font-family: "{{ font.name }}";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.{{ classPrefix }}fw {
  text-align: center;
  width: 1em;
}

{%- for icon in icons %}
.{{ classPrefix }}{{ icon.id }}::before {
  content: "\{{ icon.codepoint.toString(16) }}";
}
{%- endfor -%}
